.outer-container {
  margin: 4rem auto;
  background: #fff8;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #0005;
}

.inner-container {
  background: #fafafa;
  padding: 1.5rem;
  border-radius: 5px;
}
